* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: inter;
}

.app {
  max-width: 1280px;
  margin: 50px auto;
}

.app > h1 {
  text-align: center;
  font-size: 2.5rem;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: center;
}

.otp-input {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  margin: 5px;

  font-size: 40px;
  text-align: center;
}