.main-cont {
    width: 100%;
    /* Using this, it will take full width else take only the necessary width */
    min-height: 100vh; 

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.btn {
    padding: 10px;
    background-color: #7c46d4;
    color: white;
    border: none;
    font-size: 1.2rem;
    border-radius: 7px;
    cursor: pointer;
}