@import "tailwindcss";

.App {
  font-family: sans-serif;
  text-align: center;
}

.outer {
  border: 1px solid black;
  border-radius: 20px;
  margin: 50px 10px;
  overflow: hidden;
}

.inner {
  background-color: green;
  color: white;
  animation: load-progress 1s ease-in-out;
}

@keyframes load-progress {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}